<h3>Listening Assignment</h3>

<div class="pb-lg"><iframe width="560" height="315" src="https://www.youtube.com/embed/iCeKGW7cxQc" frameborder="0" allowfullscreen></iframe></div>

<h3>Reading Assignment</h3>

<h4>Thomas Forrest Kelly. “George Frideric Handel, <span class="fs-i">Giulio Cesare in Egitto</span>.” <span class="fs-i">First Nights at the Opera</span>. 2004.</h4>
<h4 class="pb-m"><%= link_to "Read Article", "/downloadables/Kelly-First Nights-2004.pdf" %></h4>

<h3>Questions to Consider</h3>
<div class="fz-m">
  <p>What is a da capo aria? its form? its function?</p>
  <p>What are your impressions of eighteenth-century theater culture?</p>
</div>
