<div class="f-muli">

  <h3>Listening Assignment</h3>
  <p>"Se in fiorito"</p>

  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/iCeKGW7cxQc" frameborder="0" allowfullscreen></iframe></p>

  <h3>Reading Assignment</h3>
  <ul>Be prepared to discuss:
    <li>What is a da capo aria? its form? its function?</li>
    <li>What are your impressions of eighteenth-century theater culture?</li>
  </ul>

  <h4>Thomas Forrest Kelly. “George Frideric Handel, <em>Giulio Cesare in Egitto</em>.” <em>First Nights at the Opera</em>. 2004.</h4>
  <%= link_to "Read Article", "/downloadables/Kelly-First Nights-2004.pdf" %>
</div>