<div class="f-muli">
  <h3>Listening Assignment</h3>

  <p>Dorinda choses to trust Medoro, though he deceives her.</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/zmdj_MODL20" frameborder="0" allowfullscreen></iframe>

  <p>Dorinda sings of her broken heart.</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/UGxm7h2LIjs" frameborder="0" allowfullscreen></iframe>

  <h3>Reading Assignment</h3>

  <h4>Anthony Hicks. “Orlando (ii).” Oxford Music Online.</h4>
  <%= link_to "Read Article", "/downloadables/Orlando-OMO-Hicks.pdf" %>

</div>