<h3>Listening Assignment</h3>

<p class="f-muli fz-m pb-lg">Handel borrows extensively from pre-existent musical sources in his opera <em>Agrippina</em>, among other works. The below pieces give one example of Handel's borrowing practices, in which he reuses a considerable amount of musical materials from an earlier composition in a later one.</p>

<h3>Earlier Work</h3>
<div class="pb-lg"><iframe width="560" height="315" src="https://www.youtube.com/embed/09DibG3MUqQ" frameborder="0" allowfullscreen></iframe></div>

<h3>Later Work</h3>
<div class="pb-lg"><iframe width="560" height="315" src="https://www.youtube.com/embed/_SqchAen0ig" frameborder="0" allowfullscreen></iframe></div>

<h3>Reading Assignment</h3>
<h4>T.W. Bourne and Sedley Taylor. Correspondence. <span class="fs-i">The Musical Times</span>. 1907.</h4>
<h4 class="pb-m"><%= link_to "Read Article", "/downloadables/Bourne-Taylor-1907.pdf" %></h4>

<h4>Ellen T. Harris. "Integrity and Improvisation in the Music of Handel." <span class="fs-i">The Journal of Musicology</span>. 1990.</h4>
<h4 class="pb-m"><%= link_to "Read Article", "/downloadables/Harris-Integrity and Improvisation-1990.pdf" %></h4>