<div class="page p-sm">
  <div class="container bgc-light mt-xlg mb-xxlg h-min p-lg">

  <h1 class="f-julius ta-c"><strong>
    <% flash.each do |key, value| %>
      <div>
          <%= value %>
      </div>
    <% end %>
  </strong></h1>

  </div>
</div>